<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<included>
    <property name="LOG_DIR" value="logs" if="${LOG_DIR:-UNSET}" />
    <property name="LOG_PATTERN"
        value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5r [%-5p] - %m - [kmg-fund] &lt;%C %M:%L&gt; [%t]%n%xEx"
        if="${LOG_PATTERN:-UNSET}" />
    <property name="EXCEPTION_DIR" value="logs/exceptions" if="${EXCEPTION_DIR:-UNSET}" />
    <property name="EXCEPTION_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %xEx%n"
        if="${EXCEPTION_PATTERN:-UNSET}" />

    <appender name="KMGFUND_EXCEPTION_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${EXCEPTION_DIR}/kmg-fund-exceptions.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${EXCEPTION_DIR}/kmg-fund-exceptions_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${EXCEPTION_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <logger name="kmg.core.infrastructure.exception" level="ERROR" additivity="false">
        <appender-ref ref="KMGFUND_EXCEPTION_LOG" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="kmg.fund" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="APPLIATION_LOG" />
    </logger>

</included>
